.homecontainer {
  //width: 1132px;
  //height: 616px;
  padding: 20px;
  overflow: auto;
  /*************模块1**************/
  .homeinfo {
    width: 100%;
    height: 178px;
    padding-top: 5px;
    /*************左上**************/
    .doctorinfo {
      width: 457px;
      height: 100%;
      .sfanimal {
        width: 100%;
        height: 85px;

        .sfanimalPic {
          width: 85px;
          height: 85px;
          float: left;
          img {
            margin: 3px 0 0 14px;
            //@extend .full-size;
          }
        }
        .sfWords {
          float: right;
          width: 354px;
          height: 83px;
          padding: 17px 0 0 30px;;
          margin-top: 2px;
          font-size: 14px;
          // background: url('../../assets/images/word.png') no-repeat center center;
          .sfWordsp1 {
            color: #69acff;
            line-height: 26px;
          }
          .sfWordsp2 {
            color: #5d5d5d;
            line-height: 26px;
          }
        }
      }
      .sfresult {
        .cwname {
          line-height: 26px;
          font-style: 14px;
          color: #919191;
          margin-left: 43px;
        }
      }
    }
    /*************右上**************/
    .sfinfo {
      width: 634px;
      height: 100%;
      padding-left: 27px;
      // 左侧随访人数
      .visitedRowLeft {
        width: 140px;
        height: 173px;
        color: #666;
        float: left;
        p:nth-of-type(1), p:nth-of-type(2) {
          line-height: 25px;
          font-size: 13px;
          text-align: left;
          margin-bottom: 5px;
          i {
            margin-right: 9px;
            color: #17be43;
          }
        }
        p:nth-of-type(3) {
          color: #666;
          line-height: 52px;
          font-size: 14px;
          text-align: left;
          margin-top: 9px;
        }
        p:nth-of-type(4) {
          color: #666;
          line-height: 21px;
          font-size: 14px;
          text-align: left;
          em {
            line-height: 21px;
            font-size: 21px;
            color: #ff6e40;
            border-bottom: 2px solid #ff6e40;
            margin-right: 10px;
          }
        }
      }
      //右侧表格
      .visitedRowRight {
        float: left;
        width: 465px;
        height: 173px;
        .echartTitle {
          height: 26px;
          .circle {
            float: left;
            width: 24px;
            height: 26px;
            .yuan {
              margin: 9px 0 0 3px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #fd8567;
            }
          }
          .circleTitle {
            float: left;
            width: 100px;
            line-height: 26px;
            color: #989898;
          }
          // 下拉框
          .circleharts {
            float: right;
            margin-right: 22px;
            height: 26px;
            .el-select {
              .el-input {
                .el-input__inner {
                  height: 26px;
                  width: 104px;
                  padding-left: 16px;
                  border-radius: 14px;
                  font-size: 12px;
                }
              }
            }
          }
        }
        //echart1
        #homeEchart1 {
        }
      }
    }
  }
}
//分页
.resultsProgress .homepagefy {
  .el-col {
    height: 18px;
    .el-pagination {
      padding: 0;
      .el-pagination__total {
        height: 18px;
        line-height: 18px;
      }
      button {
        height: 18px;
        line-height: 18px;
      }
      .el-pager li {
        height: 18px;
        line-height: 18px;
        font-weight: 100;
        min-width: 24px;
        //color: #333;
      }
    }
  }
}
//引导图片
.nullData {
  .nullImg {
    width: 100%;
    height: 200px;
    margin-top: 38px;
    .nullImg1 {
      margin-left: 20px;
      width: 200px;
      height: 200px;
      float: left;
    }
    .nullWords {
      margin-left: 63px;
      float: left;
      .p1 {
        width: 10px;
        height: 4px;
        background: #69acff;
        margin:112px 0 5px;
      }
      .p2 {
        width: 111px;
        line-height: 23px;
        font-size: 13px;
      }
    }
  }
  //引导按钮去患者列表
  .nullBtn {
    margin-top: 67px;
    width: 100%;
    .el-button {
      padding: 9px 20px;
    }
  }
}

/*************患者详情**************/
.hzxq {
  //width: 1091px;
  height: 360px;
  /****患者总体情况分析*****/
  .hzfx {
    padding: 0 21px 0 6px;
    //width: 641px;
    width: 100%;
    //height: 386px;
    //border-right: 1px solid #e7e7e7;
    .el-tabs {
      .el-tabs__header {
        margin: 0;
        .el-tabs__nav-wrap .el-tabs__nav-scroll {
          .el-tabs__nav {
            width: 100%;
            .el-tabs__active-bar {
              //left: 128px;
              display: none;
            }
            .el-tabs__item {
              padding: 0 12px;
              height: 34px;
              line-height: 34px;
            }
            .el-tabs__item:nth-of-type(2) {
              padding: 0;
              float: left;
              margin-right: 128px;
              font-size: 17px;
              color: #333;
            }
          }
        }
      }
      .el-tabs__content {

      }
    }
  }
  /****患者分析*****/
  .sft {
    //width: 615px;
    width: 100%;
    height: 327px;
    margin-top: 25px;
    //疾病分布
    .sft1 {
      //width: 615px;
      width: 100%;
      height: 169px;
      //标题
      .sftitle {
        height: 14px;
        line-height: 14px;
        .circle1 {
          width: 18px;
          height: 14px;
          float: left;
          .yuan1 {
            width: 6px;
            height: 6px;
            background: #fd8567;
            border-radius: 50%;
            margin: 4px 0 0 4px;
          }
        }
        .circleTitle1 {
          float: left;
          width: 141px;
          text-align: left;
          font-size: 14px;
          line-height: 14px;
          color: #666;
        }
      }
      //饼图
      .sftcontent {
        //width: 615px;
        width: 100%;
        height: 155px;
        .echart2 {
          width: 40%;
          height: 155px;
        }
        .echartRight {
          width: 447px;
          height: 155px;
          ul {
            width: 447px;
            height: 22px;
            li {
              float: left;
              text-align: left;
              line-height: 22px;
              font-size: 13px;
              color: #333;
            }
            li:nth-of-type(1) {
              margin: 6px 14px 0 0;
              width: 9px;
              height: 9px;
              border-radius: 100%;
            }
            li:nth-of-type(2) {
              width: 204px;
              height: 22px;
            }
            li:nth-of-type(3){
              text-align: left;
              width: 140px;
              height: 22px;
            }
            li:nth-of-type(4){
              text-align: left;
              width: 75px;
              height: 22px;
            }
          }
        }
      }
    }
    //用药依从性
    .sft2 {
      //width: 615px;
      width: 100%;
      height: 158px;
      .sftitle {
        height: 14px;
        line-height: 14px;
        .circle1 {
          width: 18px;
          height: 14px;
          float: left;
          .yuan1 {
            width: 6px;
            height: 6px;
            background: #fd8567;
            border-radius: 50%;
            margin: 4px 0 0 4px;
          }
        }
        .circleTitle1 {
          float: left;
          width: 141px;
          text-align: left;
          font-size: 14px;
          line-height: 14px;
          color: #666;
        }
      }
      .diseEchart{
        width: 100%;
        height: 158px;
        .echart2 {
          //width: 168px;
          width: 40%;
          height: 158px;
        }
        .echartRight {
          width: 131px;
          height: 158px;
          padding-top: 34px;
          ul {
            width: 118px;
            height: 22px;
            li {
              float: left;
              text-align: left;
              line-height: 22px;
              font-size: 13px;
              color: #333;
            }
            li:nth-of-type(1) {
              margin: 6px 14px 0 0;
              width: 9px;
              height: 9px;
              border-radius: 100%;
            }
            li:nth-of-type(2) {
              width: 54px;
              height: 22px;
            }
          }
        }
        .echartRight2 {
          width: 316px;
          height: 158px;
          padding: 28px 0 50px 0;
          margin-top: 13px;
          li {
            width: 100px;
            height: 79px;
            float: left;
            margin-left: 4px;
            border-radius: 3px;
            padding: 5px 0 0 3px;
            p:nth-of-type(1) {
              line-height: 28px;
              font-size: 13px;
              color: #424242;
            }
            p:nth-of-type(2) {
              line-height: 43px;
              font-size: 17px;
            }
          }
          li:nth-of-type(1) {
            border:1px solid  #66b1ff;
            background: #f3faff;
            p:nth-of-type(2) {
              color: #75b2ff;
              border-top:1px solid #cae7ff;
            }
          }
          li:nth-of-type(2) {
            border:1px solid #ffe2b7;
            background: #fffbf5;
            p:nth-of-type(2) {
              color: #ff8a00;
              border-top:1px solid #ffe0c9;
            }
          }
          li:nth-of-type(3) {
            border:1px solid #ffe1e7;
            background: #fffafb;
            p:nth-of-type(2) {
              color: #ff003d;
              border-top:1px solid #ffcdd5;
            }
          }
        }
      }
    }
  }
  /****特别关心*****/
  .tbgx {
    width: 449px;
    height: 386px;
    padding: 0 10px 0 26px;
    //标题
    p {
      line-height: 26px;
      font-size: 17px;
      color: #333;
      text-align: left;
      margin-bottom: 12px;
    }
    //表格
    .resultsProgress .homepageTable1{
      &:before {
        height: 0;
      }
      .el-table__header-wrapper {

      }
      .el-table__body-wrapper {
        .el-table__body tbody {
          .el-table__row {
            td {
              padding: 7px 0;
              border: 0;
              color: #333;
              .cell {
                padding: 0;
              }
            }
          }
        }
      }
    }

  }
}
.colorShow {
  color: #9bd542 !important;
}
/**
 * 12生肖model
 */
.bdzoo {
  padding: 0 37px 33px 37px;
  .el-dialog__body {
    padding: 0;
    .stepTwo {
      width: 449px;
      height: 29px;
      //font-size: 20px;
      text-align: center;
      line-height: 29px;
    }
    /*生肖div*/
    .zooSelect{
      margin-top: 20px;
      width: 449px;
      height: 186px;
      overflow: hidden;
      .zooIcon {
        width: 468px;
        height: 186px;
         //background-color:#f7f7f7;
        li {
          float: left;
          .imgzoo {
            width: 55px;
            height: 89px;
            margin-right: 23px;

            img {
              width: 55px;
              height: 55px;
              border-radius: 50%;
              border: 0;
              display: block;
            }
            i{
              color: transparent;
              right:0;
              bottom:38px;
              font-size: 18px;
            }
            p {
              line-height: 13px;
              margin: 6px 0 14px 0;
              text-align: center;
              font-size: 13px;
              color: #949494;
            }
          }
        }
      }
    }
    .stepfinish {
      width: 449px;
      height: 44px;
      text-align: center;
      // background: url(../../assets/images/aibg.png) center center no-repeat;
      .nextBtn {
        margin-top: 12px;
      }
    }
  }
}
